echo venv/ > .gitignore
echo data/ >> .gitignore
echo .vscode/ >> .gitignore
echo .env/ > .gitignore
echo __pycache__/ >> .gitignore
echo input/ >> .gitignore
echo playwright-python/ >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.log" >> .gitignore
echo "test.py" >> .gitignore
